Brandon S Allbery KF8NH <allbery.b@gmail.com> <allbery.b@gmail.com>
Brent Yorgey <byorgey@gmail.com> <byorgey@cis.upenn.edu>
Daniel Schoepe <daniel.schoepe@gmail.com> <asgaroth_@gmx.de>
Daniel Wagner <me@dmwit.com> <daniel@wagner-home.com>
Don Stewart <dons00@gmail.com> <dons@cse.unsw.edu.au>
Don Stewart <dons00@gmail.com> <dons@galois.com>
Gwern Branwen <gwern0@gmail.com> <gwern0@gmail.com>
Lukas Mai <l.mai@web.de> <l.mai@web.de>
Michael G. Sloan <mgsloan@gmail.com> <mgsloan@gmail.com>
Neil Mitchell <ndmitchell@gmail.com> <http://www.cs.york.ac.uk/~ndm/>
Neil Mitchell <ndmitchell@gmail.com> Neil Mitchell <unknown>
Peter Jones <pjones@devalot.com> <pjones@pmade.com>
Spencer Janssen <spencerjanssen@gmail.com> <sjanssen@cse.unl.edu>
Vanessa McHale <vamchale@gmail.com> <vanessa.mchale@reconfigure.io>
