Adam Plaice <plaice.adam+github@gmail.com>
Brandon S Allbery KF8NH <allbery.b@gmail.com>
Brent Yorgey <byorgey@gmail.com> <byorgey@cis.upenn.edu>
Conrad Irwin <conrad.irwin@gmail.com>
Daniel Neri <daniel.neri@sigicom.com> <daniel.neri@sigicom.se>
Daniel Schoepe <daniel.schoepe@gmail.com> <asgaroth_@gmx.de>
Daniel Wagner <me@dmwit.com> <daniel@wagner-home.com>
David Glasser <glasser@mit.edu>
Deven Lahoti <deven.lahoti@gmail.com>
Devin Mullins <devin.mullins@gmail.com> <me@twifkak.com>
Don Stewart <dons00@gmail.com> <dons@cse.unsw.edu.au>
Don Stewart <dons00@gmail.com> <dons@galois.com>
Felix Springer <felixspringer149@gmail.com> <39434424+jumper149@users.noreply.github.com>
Gwern Branwen <gwern@gwern.net> <gwern0@gmail.com>
Lukas Mai <l.mai@web.de>
Marshall Lochbaum <mwlochbaum@gmail.com>
Michael G. Sloan <mgsloan@gmail.com>
Neil Mitchell <ndmitchell@gmail.com> <http://www.cs.york.ac.uk/~ndm/>
Neil Mitchell <ndmitchell@gmail.com> Neil Mitchell <unknown>
Nick Burlett <nickburlett@mac.com>
Nicolas Pouillard <nicolas.pouillard@gmail.com>
Nik Nyby <nnyby@columbia.edu>
Peter J. Jones <pjones@devalot.com>
Peter J. Jones <pjones@devalot.com> <pjones@pmade.com>
Robert Marlow <bobstopper@bobturf.org>
Robert Marlow <bobstopper@bobturf.org> <robreim@bobturf.org>
Sam Hughes <hughes@rpi.edu>
Shae Erisson <shae@ScannedInAvian.com>
Sibi Prabakaran <sibi@psibi.in>
Sibi Prabakaran <sibi@psibi.in> <psibi2000@gmail.com>
Spencer Janssen <spencerjanssen@gmail.com> <sjanssen@cse.unl.edu>
Timothy Hobbs <tim.thelion@gmail.com>
Tomas Janousek <tomi@nomi.cz>
Valery V. Vorotyntsev <valery.vv@gmail.com>
Vanessa McHale <vamchale@gmail.com> <vanessa.mchale@reconfigure.io>
Wirt Wolff <wirtwolff@gmail.com>

slotThe <soliditsallgood@mailbox.org> <50166980+slotThe@users.noreply.github.com>
