name: hlint

on:
  push:
  pull_request:

jobs:
  hlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: 'Set up HLint'
      uses: haskell/actions/hlint-setup@v2
      with:
        version: '3.5'

    - name: 'Run HLint'
      uses: haskell/actions/hlint-run@v2
      with:
        path: '.'
        fail-on: status
