name: Nix

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Nix Flake - Linux
    permissions:
      contents: read
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v13
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/i6laym9jw3wg9mw6ncyrk6gjx4l34vvx/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Clone project
        uses: actions/checkout@v2
      - name: Build
        run: nix build --print-build-logs
